.navbar {
  background-color: #37b337;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  list-style: none;
  margin-right: 1rem;
}

.navbar > ul > li > a {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #37b337;
  background-color: #585e59;
  border-radius: 10px;
  padding: 20px 30px;
}
