.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
  border-radius: 5px;
  opacity: 0.95;
  width: 70%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 3%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar > ul > li > a {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  background-color: #394549;
  border-radius: 10px;
  padding: 20px 30px;
}
.navbar a {
  padding: 20px 30px;
}
.box {
  background-color: white;
}
